<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.fsba.campusvirtual"
        versionCode = "391"
        version   = "1.15">
    <name>Campus Virtual FSBA </name>

    <description>
       Aplicativo Oficial do Campus Virtual da Faculdade Social da Bahia
    </description>

    <author href="http://campusvirtual.faculdadesocial.edu.br" email="suportecampusvirtual.faculdadesocial.edu.br">
        Núcleo de Ambientes Virtuais
    </author>
